# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Database files
*.db
*.sqlite3

# Secrets
*.pem
*.key